<div id="main">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Credit Book Table</h3>
                </div>
                <div class="col-12 col-md-6 order-md-1 order-last buttons">
                    <a class="btn btn-primary float-md-end" href="/admin/add-credit-book">Add credit Book</a>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <!--write some heading here -->
                </div>
                <div class="card-body">

                    <table class="table" id="table1">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount credited</th>
                                <th>Amount debited</th>
                                <th>Old balance</th>
                                <th>party name</th>
                                <th>payment Mode</th>
                                <th>currrent amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each creditBook}}
                            <tr>
                                <td>{{this.date}}</td>
                                <td>{{this.creditAmount}}</td>
                                <td>{{this.debitAmount}}</td>
                                <td>{{this.oldbalance}}</td>
                                <td>{{this.partyName}}</td>
                                <td>{{this.paymentMode}}</td>
                                <td>{{this.currentAmount}}</td>

                            </tr>
                            {{/each}}
                        </tbody>
                    </table>

                </div>
            </div>

        </section>
    </div>
</div>
